table{
    border-style: dotted;
    border-color: red;
    width: 100px;
    height: 100px;
}
td{
    border-style: dotted;
    border-color: red;
    font-size: 0.5rem;
    color: black;
    background: cyan;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 12px;
    height: 12px;
}
img{
    width: 20px;
    height: 20px;
}
.uno{
    width: 12px;
    height: 12px;
}